/* Estilos para a pagina criada index.html */

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
}

header{
    background-color: #333;
    color:w#fff;
    text-align:center;
    padding: 1rem 0;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Estilo responsivos */
@media(max-width: 600px){
    main{
        padding: 1rem;
    }
}
